{% extends "base.html" %}
{% block title %}Editando {{ node.name }} - {{ app_name }}{% endblock %}
{% block content %}
<div class="content-header"><h2>Editando "{{ node.name }}"</h2></div>
<script type="application/json" id="editor-config">{{ editor_config|tojson }}</script>
<div id="editor-placeholder" class="editor-frame"></div>
<script src="{{ onlyoffice_server_url }}/web-apps/apps/api/documents/api.js"></script>
<script src="{{ url_for('static', filename='js/onlyoffice-init.js') }}"></script>
{% endblock %}
